<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link href='https://fonts.googleapis.com/css?family=Great Vibes' rel='stylesheet'>
		<link href="{{asset('/styles/CSS/navbar.css')}}" rel="stylesheet">
		<link
		href="{{asset('/styles/CSS/home.css')}}" rel="stylesheet">


		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		<!-- NAVBAR -->
		{% include "security/base/nav.html.twig" %}
		<div style="display:flex">
			<div style="flex:1;"></div>
			{% block body %}{% endblock %}
			<div style="flex:1;"></div>
		</body>
	</body>
</html></div></html>
