
<h1> Bonjour ! My_quiz est content de vous voir ! </h1>

<p>Vous avez jouer à nos quiz ! Bravo ! Voulez-vous jouer encore?</p> 
    <br>
<a class="button1 buttonSend" href="{{path('app_homepage')}}">
    <span>Faire plus de quiz</span>
</a>
