{% extends 'base.html.twig' %}

{% block title %}Hello QuizzController!
{% endblock %}

{% block body %}
	<div style="flex: 2; text-align: center;">
		<h1>Votre Score</h1>
		<h2><strong>{{ result }}/{{ count }}</strong></h2>
	</div>
{% endblock %}
